.card{
    max-width:250px;
    text-align:center;
    display:flex;
    gap:5px;
    flex-direction:column;
    border:1px solid rgba(0, 0, 0, 0.18);
    overflow:hidden;

    @media (max-width: 595px){
        padding:0;
        flex-direction:row;
        width:90vw;
        max-width:none;
    }

    .cardImg{
        cursor:pointer;
        background-color: rgb(234, 234, 234);
        width:100%;
        overflow:hidden;

        @media (max-width: 595px){
            width:50%;
        }
        
        img{
            width:100%;
            transition:transform 0.3s ease;

            &:hover{
                transform:scale(1.1);
            }
        }
    }
    .cardsText{
        padding:10px;
        text-align: left;

        p{
            overflow:hidden;
            white-space:nowrap;
            text-overflow:ellipsis;
        }

        @media (max-width: 595px){
            width:50%;
        }
        .atc{
            cursor:pointer;
            width:100px;
            height:25px;
            border:none;
            background-color:#9ca8f7;

            &:active{
                transform:translate(1px,-1px);
                border-bottom: 1px solid black;
                border-left: 1px solid black;
            }
        }
    }
}