.cart{
    position:fixed;
    top:45px;
    right:0;
    width:30vw;
    height:calc(100vh - 90px);
    background-color:rgb(184, 255, 236);
    z-index:2;
    overflow-y: scroll;

    .heading{
        padding:10px;
        background-color:rgb(192, 192, 192);
        border:1px solid rgb(192, 192, 192);
        font-size: larger;
        font-weight:bold;
        display:flex;
        justify-content:space-between;

        .close{
            transform:translateX(-30px);
        }
    }
    .shoppingCart{
        position:fixed;
        width:100%;
        top:0;
    }
    .prods{

        .empty{
            font-size:25px;
            height:100%;
            display:flex; 
            flex-direction:column;
            align-items:center;

            img{
                width:100%;
            }
            p{
                opacity:0.5;
            }
            button{
                cursor:pointer;
                width:100px;
                height:30px;
                border:none;
                background-color:#9876ff;

                &:active{
                    transform:translate(1px,-1px);
                    border-bottom: 1px solid black;
                    border-left: 1px solid black;
                }
            }
        }
    }
    .total{
        position:fixed;
        width:100%;
        top:calc(100vh - 45px);
    }

    @media (max-width:800px){
        width:40vw;
    }

    @media (max-width:500px){
        width:100vw;
    }
}