.navbar{
    height: 45px;
    background-color: rgba(19, 18, 18, 1);
    color:white;
    display: flex;
    align-items:center;
    justify-content: space-evenly;

    @media (max-width: 720px){
        justify-content:space-between;
    }

    .pages{
        display:flex;
        align-items:center;
        justify-content: space-evenly;
        width:33vw;

        .link{
            color:white;
            text-decoration:none;
        }
        .icon{
            cursor:pointer;
        }

        @media (max-width: 720px){
            width:50%;
        }
    }

    #navspans{
        @media (max-width: 720px){
            display: none;
        }
    }
}